<template>
  <div>
    <h2>Training maxes</h2>
    <div
      v-for="trainingMax in trainingMaxes"
      :key="trainingMax.exerciseId"
      href="#"
      class="border-2 rounded border-b-2 mb-2"
    >
      <div class="m-3">
        <div class="mt-2">
          <div cols="2">
            <div class="mb-1">Exercise</div>
            <SelectExercise v-model="trainingMax.exerciseId" />
          </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-4">
          <div class="mb-2 col-span-1 md:col-span-2 mr-4">
            <div>Training max:</div>
            <input
              v-model="trainingMax.weights[trainingMax.weights.length - 1]"
              class="input-training-max"
              type="text"
              inputmode="numeric"
              placeholder=""
              @focus="focus"
            />
          </div>

          <div class="col-span-1 md:col-span-2">
            <div>Increase per round:</div>
            <input
              v-model="trainingMax.defaultIncrement"
              class="input-increase-per-round"
              type="text"
              inputmode="numeric"
              placeholder="0"
              @focus="focus"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between mt-2 mb-5">
      <div>
        <w-button size="sm" class="add-training-max" @click="addTrainingMax">Add</w-button>
      </div>
      <div>
        <w-button size="sm" class="remove-training-max" variant="danger" @click="removeTrainingMax">Remove</w-button>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, watch } from 'vue'
import type { TrainingMax } from '~/models/program'
import { clone } from '~/utils/clone'
import { useExercisesStore } from '~/store/exercises'
import { focusOnInput } from '~/services/selectionUtil'

const exercisesStore = useExercisesStore()
exercisesStore.fetchExercises()

type Props = {
  trainingMaxes: Array<TrainingMax>
}
const props = defineProps<Props>()

const trainingMaxes = ref(clone(props.trainingMaxes))

const emit = defineEmits(['update-training-maxes'])

watch(
  trainingMaxes,
  (newTrainingMaxes: Array<TrainingMax>) => {
    emit('update-training-maxes', newTrainingMaxes)
  },
  { deep: true },
)

function addTrainingMax() {
  const newTrainingMax: TrainingMax = { exerciseId: '', weights: [0], defaultIncrement: 0 }
  const exercises = exercisesStore.exercises
  if (exercises.length > 0 && exercises[0].id) {
    newTrainingMax.exerciseId = exercises[0].id
  }
  trainingMaxes.value.push(newTrainingMax)
}

function removeTrainingMax() {
  trainingMaxes.value.pop()
}

function focus(event: Event) {
  focusOnInput(event)
}
</script>
