<template>
  <div class="border-b-2">
    <div class="grid grid-cols-3 mt-3 mb-2">
      <h2 class="">Week {{ week.index + 1 }}</h2>
      <div></div>
      <div class="content-center mr-3 flex justify-end">
        <div title="Move week down" class="content-center">
          <IconMdiArrowDown class="icon scale-50 button-move-week-up cursor-pointer ml-1" @click="moveDown" />
        </div>
        <div title="Move week up" class="content-center">
          <IconMdiArrowUp class="icon scale-50 button-move-week-up cursor-pointer ml-1" @click="moveUp" />
        </div>
        <div class="scale-50 content-center" :title="'Remove week ' + (week.index + 1)">
          <IconMdiClose class="icon button-remove-week cursor-pointer ml-1" @click="removeWeek" />
        </div>
      </div>
    </div>
    <div>
      <div v-for="day in localWeek.days" :key="day.index" class="mb-2">
        <EditProgramDay
          :day="day"
          @update-day="updateDay"
          @remove-day="removeDay"
          @move-day-up="moveDayUp"
          @move-day-down="moveDayDown"
        />
      </div>
      <div class="flex justify-between my-3">
        <w-button size="sm" class="button-add-day" @click="addDay">Add day</w-button>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import type { ProgramWeek, ProgramDay } from '~/models/program'
import { clone } from '~/utils/clone'

type Props = {
  week: ProgramWeek
}

const props = defineProps<Props>()

const localWeek = ref(clone(props.week))

watch(
  () => props.week,
  (newWeek) => {
    localWeek.value = newWeek
  },
  { deep: false },
)

const emit = defineEmits(['update-week', 'remove-week', 'move-week-up', 'move-week-down'])

watch(
  localWeek,
  (newWeek: ProgramWeek) => {
    emit('update-week', newWeek)
  },
  { deep: false },
)

function addDay() {
  const newDay = { index: localWeek.value.days.length, exercises: [] }
  localWeek.value.days.push(newDay)
}

function removeDay(index: number) {
  const cloned = clone(localWeek.value)
  const removedDay = cloned.days.filter((_day, i) => i !== index)
  const updatedIndices = removedDay.map((day, i) => {
    day.index = i
    return day
  })
  cloned.days = updatedIndices
  localWeek.value = cloned
}

function moveDayUp(index: number) {
  if (index > 0) {
    const copy = clone(localWeek.value)
    const above = copy.days[index - 1]
    copy.days[index - 1] = copy.days[index]
    copy.days[index - 1].index = index - 1
    copy.days[index] = above
    copy.days[index].index = index
    localWeek.value = copy
  }
}

function moveDayDown(index: number) {
  if (index < localWeek.value.days.length - 1) {
    const copy = clone(localWeek.value)
    const below = copy.days[index + 1]
    copy.days[index + 1] = copy.days[index]
    copy.days[index + 1].index = index + 1
    copy.days[index] = below
    copy.days[index].index = index
    localWeek.value = copy
  }
}

function updateDay(newDay: ProgramDay) {
  const copy = clone(localWeek.value)
  copy.days[newDay.index] = newDay
  localWeek.value = copy
}

function moveUp() {
  emit('move-week-up', props.week.index)
}

function moveDown() {
  emit('move-week-down', props.week.index)
}

function removeWeek() {
  emit('remove-week', props.week.index)
}
</script>
