<template>
  <div class="mb-3">
    <div class="grid grid-cols-3">
      <div v-if="setType === 'PERCENTAGE_OF_MAX'" class="mr-2">
        <input
          v-model="localSet.percentageOfMax"
          class="input-set-percentage-of-max"
          type="number"
          inputmode="numeric"
          placeholder=""
          @focus="focus"
        />
      </div>
      <div v-if="setType === 'FIXED_WEIGHT'" class="mr-2">
        <input
          v-model="localSet.fixedWeight"
          class="input-set-fixed-weight"
          type="number"
          inputmode="numeric"
          placeholder=""
          @focus="focus"
        />
      </div>

      <div>
        <select v-model="setType" class="select-program-set-type h-full" @change="changeSetType">
          <option v-for="option in setTypeOptions" :key="option.value ?? ''" :value="option.value">
            {{ option.text }}
          </option>
        </select>
      </div>

      <div class="flex">
        <div class="mx-2 content-center">x</div>
        <input
          v-model="localSet.nbrReps"
          class="input-set-nbr-reps"
          type="number"
          inputmode="numeric"
          placeholder=""
          @focus="focus"
        />
        <div class="content-center scale-50" title="Remove set">
          <IconMdiClose class="icon button-remove-set cursor-pointer ml-1" @click="removeSet" />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, watch, computed } from 'vue'
import type { ProgramSet } from '~/models/program'
import { focusOnInput } from '~/services/selectionUtil'

type Props = {
  set: ProgramSet
}

const props = defineProps<Props>()

const localSet = ref(props.set)

watch(
  () => props.set,
  (newSet) => {
    localSet.value = newSet
  },
  { deep: true },
)

const emit = defineEmits(['update-set', 'remove-set'])

watch(
  localSet,
  (newSet: ProgramSet) => {
    emit('update-set', newSet)
  },
  { deep: true },
)

const setType = computed(() => {
  if (localSet.value.percentageOfMax !== null && localSet.value.percentageOfMax !== undefined) {
    return 'PERCENTAGE_OF_MAX'
  } else {
    return 'FIXED_WEIGHT'
  }
})

const setTypeOptions = [
  { text: '% of max', value: 'PERCENTAGE_OF_MAX' },
  { text: 'kg', value: 'FIXED_WEIGHT' },
]

function changeSetType(value: any) {
  const newValue = value.target.value
  if (newValue === 'PERCENTAGE_OF_MAX') {
    localSet.value.percentageOfMax = localSet.value.fixedWeight
    localSet.value.fixedWeight = null
  } else if (newValue === 'FIXED_WEIGHT') {
    localSet.value.fixedWeight = localSet.value.percentageOfMax
    localSet.value.percentageOfMax = null
  }
}

function removeSet() {
  emit('remove-set', props.set.index)
}

function focus(event: Event) {
  focusOnInput(event)
}
</script>
