<template>
  <div v-if="program">
    <h1>Edit program</h1>

    <div class="mx-4 md:mx-9 grid grid-cols-10">
      <div class="hidden md:block md:col-span-3"></div>
      <div class="col-span-10 md:col-span-4">
        <div class="mb-1">
          <label id="input-group-name" class="mb-1" for="input-name">Name:</label>
        </div>
        <input
          id="input-name"
          v-model="program.name"
          class="mb-2"
          type="text"
          placeholder="Enter name"
          required
          @focus="focus"
        />

        <div :header="program?.name + ' - Training maxes'">
          <div>
            <div v-if="program.data.trainingMaxes">
              <EditProgramTrainingMaxes
                :training-maxes="program.data.trainingMaxes"
                @update-training-maxes="updateTrainingMaxes"
              />
            </div>

            <div v-if="program" class="mb-3">
              <EditProgramWeeks :weeks="program.data.weeks" @update-weeks="updateWeeks" />
            </div>

            <div>
              Alternate days every round (ABA -> BAB):
              <input
                v-model="alternateDaysEveryRound"
                name="alternate-days-every-round"
                type="checkbox"
                class="input-offset-mode accent-base w-5 h-5 p-2"
              />
            </div>

            <div class="mb-5 flex justify-between">
              <w-button size="sm" class="mt-2" type="submit" @click="save">Save program</w-button>
              <w-button size="sm" class="mt-2" variant="danger" @click="remove">Delete program</w-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { reactive } from 'vue'
import type { Program, TrainingMax, ProgramWeek } from '~/models/program'
import { clone } from '~/utils/clone'
import { useExercisesStore } from '~/store/exercises'
import { useProgramsStore } from '@/store/programs'
import { focusOnInput } from '~/services/selectionUtil'

const exercisesStore = useExercisesStore()
const programsStore = useProgramsStore()

await exercisesStore.fetchExercises()
await programsStore.fetchPrograms()

const program = reactive(getProgram())

const alternateDaysEveryRound = ref(program.data.offsetMode === 1)

const router = useRouter()

function getProgram(): Program {
  const id = useRoute().params.id
  if (!id) {
    return createNewProgram()
  }
  const found = programsStore.programs.find((p: Program) => p.id === id)
  if (found !== undefined) {
    return found
  } else {
    throw new Error('Program not found')
  }
}

function createNewProgram(): Program {
  return {
    id: null,
    userId: '',
    programType: 1,
    name: 'New program',
    data: {
      weeks: [
        {
          index: 0,
          days: [
            {
              index: 0,
              exercises: [],
            },
          ],
        },
      ],
      trainingMaxes: [],
      currentRound: 0,
      currentDay: 0,
      currentWeek: 0,
      offsetMode: 0,
      createdWorkoutIds: [],
    },
  }
}

function updateWeeks(newWeeks: Array<ProgramWeek>) {
  program.data.weeks = newWeeks
}

function updateTrainingMaxes(newTrainingMaxes: Array<TrainingMax>) {
  program.data.trainingMaxes = newTrainingMaxes
}

async function save() {
  if (program !== null) {
    const programCopy = clone(program)
    if (programCopy) {
      for (const max of programCopy.data.trainingMaxes) {
        const nbrWeights = max.weights.length
        const weight = max.weights[nbrWeights - 1]
        max.weights[nbrWeights - 1] = Number(weight)
        max.defaultIncrement = Number(max.defaultIncrement)
      }

      if (alternateDaysEveryRound) {
        programCopy.data.offsetMode = 1
      } else {
        programCopy.data.offsetMode = 0
      }

      const savedProgram = await programsStore.save(programCopy)
      router.push({ path: '/programs/' + savedProgram.id })
    }
  }
}

async function remove() {
  await programsStore.delete(program)
  router.push({ path: '/programs/' })
}

function focus(event: Event) {
  focusOnInput(event)
}
</script>
