<template>
  <div>
    <div class="mb-1">
      <div v-for="week in localWeeks" :key="week.index">
        <EditProgramWeek
          :week="week"
          @update-week="updateWeek"
          @remove-week="removeWeek"
          @move-week-up="moveWeekUp"
          @move-week-down="moveWeekDown"
        />
      </div>
    </div>
    <div class="flex justify-between my-3">
      <w-button size="sm" class="button-add-week" @click="addWeek">Add week</w-button>
    </div>
  </div>
</template>
<script lang="ts" setup>
import type { ProgramWeek } from '~/models/program'
import { clone } from '~/utils/clone'

type Props = {
  weeks: Array<ProgramWeek>
}
const props = defineProps<Props>()

const localWeeks = ref(clone(props.weeks))

const emit = defineEmits(['update-weeks'])

watch(
  localWeeks,
  (newWeeks: Array<ProgramWeek>) => {
    emit('update-weeks', newWeeks)
  },
  { deep: true },
)

function updateWeek(newWeek: ProgramWeek) {
  localWeeks.value[newWeek.index] = newWeek
}

function addWeek() {
  const newWeek = { index: localWeeks.value.length, days: [] }
  localWeeks.value.push(newWeek)
}

function moveWeekUp(index: number) {
  if (index > 0) {
    const copy = clone(localWeeks.value)
    const above = copy[index - 1]
    copy[index - 1] = copy[index]
    copy[index - 1].index = index - 1
    copy[index] = above
    copy[index].index = index
    localWeeks.value = copy
  }
}

function moveWeekDown(index: number) {
  if (index < localWeeks.value.length - 1) {
    const copy = clone(localWeeks.value)
    const below = copy[index + 1]
    copy[index + 1] = copy[index]
    copy[index + 1].index = index + 1
    copy[index] = below
    copy[index].index = index
    localWeeks.value = copy
  }
}

function removeWeek(index: number) {
  const cloned = clone(localWeeks.value)
  const removedWeek = cloned.filter((_week, i) => i !== index)
  const updatedIndices = removedWeek.map((week, i) => {
    week.index = i
    return week
  })
  localWeeks.value = updatedIndices
}
</script>
