<template>
  <div class="border-2 rounded border-b-2">
    <div class="m-3">
      <div class="grid grid-cols-3">
        <div v-if="localExercise.exerciseId" class="mr-2">
          <SelectExercise v-model="localExercise.exerciseId" class="select-program-exercise" />
        </div>
        <div></div>
        <div class="content-center mb-3 flex justify-end">
          <div title="Move down">
            <IconMdiArrowDown class="icon scale-50 button-move-exercise-down cursor-pointer ml-1" @click="moveDown" />
          </div>
          <div title="Move up">
            <IconMdiArrowUp class="icon scale-50 button-move-exercise-up cursor-pointer ml-1" @click="moveUp" />
          </div>
          <div title="Remove exercise">
            <IconMdiClose class="icon scale-50 button-remove-exercise cursor-pointer ml-1" @click="removeExercise" />
          </div>
        </div>
      </div>

      <div v-for="set in localExercise.sets" :key="set.index">
        <EditProgramSet :set="set" @update-set="updateSet" @remove-set="removeSet" />
      </div>
      <div class="flex justify-center" title="Add set">
        <IconMdiLightPlusCircle class="icon button-add-set cursor-pointer my-1" @click="addSet" />
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, watch } from 'vue'
import type { ProgramExercise, ProgramSet } from '~/models/program'
import { clone } from '~/utils/clone'

type Props = {
  exercise: ProgramExercise
}

const props = defineProps<Props>()

const localExercise = ref(clone(props.exercise))

const emit = defineEmits(['update-exercise', 'remove-exercise', 'move-exercise-up', 'move-exercise-down'])

watch(
  localExercise,
  (newExercise: ProgramExercise) => {
    emit('update-exercise', newExercise)
  },
  { deep: true },
)

function updateSet(newSet: ProgramSet) {
  localExercise.value.sets[newSet.index] = newSet
}

function removeSet(index: number) {
  const cloned = clone(localExercise.value)
  const removedSet = cloned.sets.filter((_set, i) => i !== index)
  const updatedSetIndices = removedSet.map((set, i) => {
    set.index = i
    return set
  })
  cloned.sets = updatedSetIndices
  localExercise.value = cloned
}

function addSet() {
  const nbrSets = localExercise.value.sets.length
  if (nbrSets > 0) {
    const newSet = clone(localExercise.value.sets[nbrSets - 1])
    newSet.index = nbrSets
    localExercise.value.sets.push(newSet)
  } else {
    const newSet = {
      index: 0,
      percentageOfMax: 0,
      fixedWeight: null,
      nbrReps: 0,
    }
    localExercise.value.sets.push(newSet)
  }
}

function moveUp() {
  emit('move-exercise-up', props.exercise.index)
}

function moveDown() {
  emit('move-exercise-down', props.exercise.index)
}

function removeExercise() {
  emit('remove-exercise', props.exercise.index)
}
</script>
