<template>
  <div class="border-b-2">
    <div class="grid grid-cols-3">
      <h3 class="mb-4">Day {{ day.index + 1 }}</h3>
      <div></div>
      <div class="content-center mb-3 mr-3 flex justify-end">
        <div title="Move day down" class="content-center">
          <IconMdiArrowDown class="icon scale-50 button-move-day-down cursor-pointer ml-1" @click="moveDown" />
        </div>
        <div title="Move day up" class="content-center">
          <IconMdiArrowUp class="icon scale-50 button-move-day-up cursor-pointer ml-1" @click="moveUp" />
        </div>
        <div class="scale-50 content-center" :title="'Remove day ' + (day.index + 1)">
          <IconMdiClose class="icon button-remove-day cursor-pointer ml-1" @click="removeDay" />
        </div>
      </div>
    </div>
    <div v-for="exercise in day.exercises" :key="exercise.exerciseId" class="mb-4">
      <EditProgramExercise
        :exercise="exercise"
        @update-exercise="updateExercise"
        @remove-exercise="removeExercise"
        @move-exercise-up="moveExerciseUp"
        @move-exercise-down="moveExerciseDown"
      />
    </div>
    <div class="flex justify-between my-4">
      <w-button class="button-add-exercise" size="sm" @click="addExercise">Add exercise</w-button>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, watch } from 'vue'
import type { ProgramDay, ProgramExercise } from '~/models/program'
import { clone } from '~/utils/clone'
import { useExercisesStore } from '~/store/exercises'

type Props = {
  day: ProgramDay
}

const props = defineProps<Props>()

const localDay = ref(props.day)

watch(
  () => props.day,
  (newDay) => {
    if (JSON.stringify(localDay.value) !== JSON.stringify(newDay)) {
      localDay.value = newDay
    }
  },
  { deep: true },
)

const emit = defineEmits(['update-day', 'remove-day', 'move-day-up', 'move-day-down'])

const exercisesStore = useExercisesStore()

watch(
  localDay,
  (newDay: ProgramDay) => {
    emit('update-day', newDay)
  },
  { deep: true },
)

function updateExercise(newExercise: ProgramExercise) {
  localDay.value.exercises[newExercise.index] = newExercise
}

function addExercise() {
  const newExercise = { index: localDay.value.exercises.length, sets: [], exerciseId: '' }
  const exercises = exercisesStore.exercises
  if (exercises.length > 0 && exercises[0].id) {
    newExercise.exerciseId = exercises[0].id
  }
  localDay.value.exercises.push(newExercise)
}

function removeExercise(index: number) {
  const cloned = clone(localDay.value)
  const removedExercise = cloned.exercises.filter((_exercise, i) => i !== index)
  const updatedIndices = removedExercise.map((exercise, i) => {
    exercise.index = i
    return exercise
  })
  cloned.exercises = updatedIndices
  localDay.value = cloned
}

function moveExerciseUp(index: number) {
  if (index > 0) {
    const copy = clone(localDay.value)
    const above = copy.exercises[index - 1]
    copy.exercises[index - 1] = copy.exercises[index]
    copy.exercises[index - 1].index = index - 1
    copy.exercises[index] = above
    copy.exercises[index].index = index
    localDay.value = copy
  }
}

function moveExerciseDown(index: number) {
  if (index < localDay.value.exercises.length - 1) {
    const copy = clone(localDay.value)
    const below = copy.exercises[index + 1]
    copy.exercises[index + 1] = copy.exercises[index]
    copy.exercises[index + 1].index = index + 1
    copy.exercises[index] = below
    copy.exercises[index].index = index
    localDay.value = copy
  }
}

function moveUp() {
  emit('move-day-up', props.day.index)
}

function moveDown() {
  emit('move-day-down', props.day.index)
}

function removeDay() {
  emit('remove-day', props.day.index)
}
</script>
