<template>
  <div>
    <h1 class="mb-5">Register data</h1>

    <EditMetric v-if="metricType" :metric-type="metricType" @submit-metric="saveMetric" />
  </div>
</template>
<script lang="ts" setup>
import type { Metric } from '~/models/metric'
import { useMetricsStore } from '~/store/metrics'
import { useMetricTypesStore } from '~/store/metricTypes'

const metricsStore = useMetricsStore()
const metricTypesStore = useMetricTypesStore()
await metricTypesStore.fetchMetricTypes()

const route = useRoute()

const metricTypeId = String(route.params.id)
metricsStore.fetchMetrics(metricTypeId)

const metricType = metricTypesStore.findById(metricTypeId)

async function saveMetric(metric: Metric) {
  await metricsStore.save(metric)
  return navigateTo(`/metrics/?selectedMetricTypeId=${metric.metricTypeId}`)
}
</script>
