<template>
  <div>
    <NuxtLayout>
      <NavBar />
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>
<script setup>
import '@vuepic/vue-datepicker/dist/main.css'
;(function () {
  if (process.client && process.env.NODE_ENV === 'production') {
    /* eslint no-console: "off" */
    const oldLog = console.log
    /* eslint no-console: "off" */
    console.log = function () {
      oldLog.apply(console, arguments)

      const xhr = new XMLHttpRequest()
      xhr.open('POST', '/api/log')
      xhr.send(Array.prototype.slice.call(arguments))
    }
  }
})()
</script>
