<template>
  <div>
    <div class="mx-9">
      <h1>Login</h1>

      <div v-if="error">
        {{ error }}
        <div v-if="error.response">
          {{ error.response }}
          <div v-if="error.response.data">
            {{ error.response.data }}
          </div>
        </div>
      </div>

      <client-only>
        <form class="flex flex-col" @submit.prevent="login">
          <div class="flex flex-col mb-2">
            <label id="input-group-name" for="input-username" class="mb-1">Username</label>
            <input
              id="input-username"
              v-model="credentials.username"
              type="text"
              placeholder="Username"
              required
              @focus="focus"
            />
          </div>

          <div class="flex flex-col mb-3">
            <label id="input-group-password" for="input-userpassword" class="mb-1">Password</label>
            <input
              id="input-password"
              v-model="credentials.password"
              type="password"
              placeholder="Password"
              required
              @focus="focus"
            />
          </div>
          <div>
            <w-button type="submit">Sign in</w-button>
          </div>
        </form>

        <template #placeholder>
          <LoginFormPlaceholder />
        </template>
      </client-only>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { $fetch } from 'ofetch'
import { focusOnInput } from '~/services/selectionUtil'

const credentials = ref({
  username: '',
  password: '',
})

const error: any = ref(null)

const login = async () => {
  try {
    await $fetch.raw('/api/auth/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        Authorization: 'Basic ' + btoa(credentials.value.username + ':' + credentials.value.password),
        Accept: 'application/json, text/plain, */*',
      },
      credentials: 'same-origin',
      body: JSON.stringify(credentials.value),
    })

    return navigateTo({ path: '/workouts' })
  } catch (err) {
    error.value = err
  }
}

function focus(event: Event) {
  focusOnInput(event)
}
</script>
