<template>
  <div>
    <h1>Metrics</h1>
    <div class="flex justify-center">
      <div class="flex flex-col mx-2 md:mx-8 min-w-[90%] md:min-w-[80%]">
        <div class="mb-4">
          <label for="selectMetricTypeId">Metric:</label>
          <client-only>
            <select id="selectMetricTypeId" v-model="selectedMetricTypeId" class="my-2" @change="updateGraphSafe">
              <option v-for="metricType in metricTypes" :key="metricType?.value ?? ''" :value="metricType.value">
                {{ metricType.text }}
              </option>
            </select>
          </client-only>
        </div>

        <div class="mb-4">
          <DateRangePicker :date-range="dateRange" @select-date-range="setDateRange" />

          <div class="chart-container" style="position: relative; height: 50vh; width: 100%">
            <canvas id="chart"></canvas>
          </div>
        </div>

        <client-only>
          <div class="mb-2 flex align-center">
            <div class="mb-3 mr-3">
              <NuxtLink id="registerLink" :to="registerLink">Register data</NuxtLink>
            </div>

            <div class="mr-3">
              <NuxtLink to="/metric-types">Edit metric types</NuxtLink>
            </div>

            <div class="mr-3">
              <input
                v-model="showAverage"
                class="mr-1"
                :checked="showAverage"
                name="showAverage"
                type="checkbox"
                @change="updateGraphSafe"
              />
              Show average
            </div>
            <div>
              <input
                v-model="showOriginal"
                class="mr-1"
                :checked="showOriginal"
                name="showOriginal"
                type="checkbox"
                @change="updateGraphSafe"
              />
              Show original
            </div>
          </div>
        </client-only>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import {
  Chart,
  LineElement,
  LineController,
  PointElement,
  Tooltip,
  LinearScale,
  CategoryScale,
  type ChartConfiguration,
  type DefaultDataPoint,
} from 'chart.js'
import { ref, computed, watch } from 'vue'
import type { MetricType } from '~/models/metricType'
import { useMetricTypesStore } from '~/store/metricTypes'
import { useMetricsStore } from '~/store/metrics'
import type { Metric } from '~/models/metric'
import { statisticsService } from '~/services/statisticsService'

Chart.register([LineElement, PointElement, LinearScale, LineController, CategoryScale, Tooltip])

const metricsStore = useMetricsStore()
const metricTypesStore = useMetricTypesStore()
await metricTypesStore.fetchMetricTypes()

interface Option {
  value: string | null
  text: string
}

interface TooltipItem {
  dataIndex: number
}

const metricTypes: Array<Option> = (() => {
  if (!metricTypesStore.list) {
    return []
  }
  return metricTypesStore.list
    .map(function (e: MetricType, _index) {
      return { value: e.id, text: e.name }
    })
    .sort((a, b) => (a.text < b.text ? -1 : 1))
})()

let chart: Chart | null = null

const route = useRoute()
const router = useRouter()

const selectedMetricTypeId = ref(getSelectedMetricTypeId())
const dateRange: Ref<string> = ref('all')
const showAverage = ref(false)
const showOriginal = ref(true)

if (process.client) {
  const savedSelectedMetricTypeId = localStorage.getItem('metricsSelectedMetricTypeId')
  if (savedSelectedMetricTypeId) {
    selectedMetricTypeId.value = savedSelectedMetricTypeId
  }
  const savedDateRange = localStorage.getItem('metricsSelectedDateRange')
  if (savedDateRange) {
    dateRange.value = savedDateRange
  }
  showAverage.value = localStorage.getItem('metricsShowAverage') === 'true'
  showOriginal.value = localStorage.getItem('metricsShowOriginal') === 'true'
}

function getSelectedMetricTypeId(): string | undefined {
  if (route.query.selectedMetricTypeId) {
    return route.query.selectedMetricTypeId?.toString()
  } else {
    if (metricTypes.length > 0) {
      return metricTypes[0].value ?? undefined
    }
    return undefined
  }
}

const id = selectedMetricTypeId.value
if (id) {
  await metricsStore.fetchMetrics(id)
}

const registerLink = computed(() => `/metric-types/${selectedMetricTypeId?.value}/register`)

if (process.client) {
  if (selectedMetricTypeId.value) {
    router.push({
      path: '/metrics',
      query: { selectedMetricTypeId: selectedMetricTypeId.value },
    })
  } else {
    await navigateTo('/metric-types')
  }

  // Ugly hack to work around chart / canvas element being null
  setTimeout(function () {
    updateGraphSafe()
  }, 50)
}

function updateGraphSafe() {
  const id = selectedMetricTypeId.value
  if (id) {
    updateGraph(id)
  }
}

watch(selectedMetricTypeId, (selectedMetricTypeId: string | undefined, _: any) => {
  router.push({
    path: '/metrics',
    query: { selectedMetricTypeId: selectedMetricTypeId },
  })
})

function setDateRange(range: string) {
  dateRange.value = range
  updateGraphSafe()
}

function filterByDateRange(metrics: Metric[], range: string) {
  const now = new Date()
  let filteredMetrics = metrics
  if (range === 'year') {
    const lastYear = new Date(now.setFullYear(now.getFullYear() - 1))
    filteredMetrics = metrics.filter((metric) => new Date(metric.date) >= lastYear)
  } else if (range === 'threeMonths') {
    const threeMonthsAgo = new Date(now.setMonth(now.getMonth() - 3))
    filteredMetrics = metrics.filter((metric) => new Date(metric.date) >= threeMonthsAgo)
  } else if (range === 'month') {
    const lastMonth = new Date(now.setMonth(now.getMonth() - 1))
    filteredMetrics = metrics.filter((metric) => new Date(metric.date) >= lastMonth)
  }
  return filteredMetrics
}

async function updateGraph(selectedMetricTypeId: string) {
  await metricsStore.fetchMetrics(selectedMetricTypeId)
  const metrics = filterByDateRange(metricsStore.getMetrics.get(selectedMetricTypeId) ?? [], dateRange.value)

  let dataPoints: Array<number> = []
  let dates: Array<string> = []
  let dataPointLabels: Array<string> = []

  ;[dataPoints, dataPointLabels, dates] = getDatapoints(metrics)

  const labels = dates

  const label = metricTypes.find((l) => l.value === selectedMetricTypeId)

  const average = statisticsService.getAverage(dataPoints)

  const datasets = []
  if (showOriginal.value) {
    datasets.push({
      label: label ? label.text : '',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: dataPoints,
    })
  }

  if (showAverage.value) {
    datasets.push({
      label: 'Average',
      backgroundColor: 'rgb(200, 200, 200)',
      borderColor: 'rgb(160, 160, 160)',
      data: average,
    })
  }

  const data = {
    labels: labels,
    datasets: datasets,
  }

  const tooltipFooter = (tooltipItems: TooltipItem[]) => {
    return dataPointLabels[tooltipItems[0].dataIndex]
  }

  const metricType = metricTypesStore.findById(selectedMetricTypeId)
  const yAxisMin = metricType?.minValue != null ? metricType.minValue : undefined
  const yAxisMax = metricType?.maxValue != null ? metricType.maxValue : undefined

  const config: ChartConfiguration<'line', DefaultDataPoint<'line'>, string> = {
    type: 'line',
    data: data,
    options: {
      scales: {
        y: {
          min: yAxisMin,
          max: yAxisMax,
          grace: '10%',
        },
      },
      plugins: {
        tooltip: {
          callbacks: {
            footer: tooltipFooter,
          },
        },
      },
      maintainAspectRatio: false,
    },
  }
  if (chart !== null) {
    chart.destroy()
  }

  const chartItem = document.getElementById('chart')
  if (chartItem instanceof HTMLCanvasElement) {
    chart = new Chart(chartItem, config)
  }

  localStorage.setItem('metricsShowAverage', JSON.stringify(showAverage.value))
  localStorage.setItem('metricsShowOriginal', JSON.stringify(showOriginal.value))
  localStorage.setItem('metricsSelectedMetricTypeId', selectedMetricTypeId)
  localStorage.setItem('metricsSelectedDateRange', dateRange.value)
}

function getDatapoints(metrics: Array<Metric>): [number[], string[], string[]] {
  const datapoints: Array<number> = []
  const labels: Array<string> = []
  const dates: Array<string> = []

  for (const metric of metrics) {
    if (metric.date && metric.value !== null) {
      const value = metric.value ? metric.value / 100 : 0
      datapoints.push(value)
      dates.push(metric.date)

      const label = metric.note ? metric.note : ''
      labels.push(label)
    }
  }

  return [datapoints, labels, dates]
}
</script>
