<template>
  <div>
    <h1>Metric Types</h1>

    <div class="grid justify-center grid-cols-12 mb-4">
      <div class="col-span-0 md:col-span-2"></div>
      <div class="col-span-12 md:col-span-8">
        <EditMetricType @edit-metric-type="saveMetricType" />
        <div v-for="metricType in metricTypes" :key="metricType.id ?? ''">
          <EditMetricType :metric-type="metricType" @edit-metric-type="saveMetricType" />
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import type { MetricType } from '~/models/metricType'
import { useMetricTypesStore } from '~/store/metricTypes'

const metricTypesStore = useMetricTypesStore()
await metricTypesStore.fetchMetricTypes()

const metricTypes = computed(() => {
  return metricTypesStore.list?.sort((a, b) => (a.name < b.name ? -1 : 1))
})

async function saveMetricType(metricType: MetricType) {
  await metricTypesStore.save(metricType)
}
</script>
<style scoped>
h1 {
  width: 100%;
  text-align: center;
}
</style>
