<template>
  <div>
    <div class="grid grid-cols-3 md:grid-cols-12 justify-evenly my-4">
      <div class="col-span-1 md:col-span-4"></div>
      <div class="col-span-1 md:col-span-4">
        <h1 class="mb-0">Programs</h1>
      </div>

      <div id="link-create-program" class="col-span-1 md:col-span-2 grid justify-center content-center">
        <NuxtLink to="/programs/create" size="lg">
          <IconMdiLightPlusCircle class="icon" />
        </NuxtLink>
      </div>
    </div>

    <div v-if="loaded">
      <li v-for="program in programs" :key="program.id ?? ''">
        <ProgramCard :program="program" @delete-program="deleteProgram" />
      </li>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import type { Program } from '~/models/program'
import { useProgramsStore } from '~/store/programs'
import { useExercisesStore } from '~/store/exercises'

const programs = ref<Array<Program>>([])
const loaded = ref(false)

const exercisesStore = useExercisesStore()
const programsStore = useProgramsStore()

if (process.client) {
  await programsStore.fetchPrograms()
  programs.value = programsStore.programs

  await exercisesStore.fetchExercises()
  loaded.value = true
}

function deleteProgram(program: Program) {
  programsStore.delete(program)
}
</script>
