<template>
  <div>
    <form @submit="onSubmit">
      <w-button type="submit">Add</w-button>
    </form>
  </div>
</template>
<script lang="ts" setup>
import type { Workout, WorkoutExercise } from '~/models/workout'

type Props = {
  workout: Workout
  workoutExercise: WorkoutExercise
}
const props = defineProps<Props>()

const emit = defineEmits(['add-set'])

function onSubmit(event: Event) {
  event.preventDefault()
  const nbrSets = props.workoutExercise.sets.length
  const lastSet = props.workoutExercise.sets[nbrSets - 1]
  const newSet = {
    reps: lastSet ? Number(lastSet.reps) : 0,
    weight: lastSet ? Number(lastSet.weight) : 0,
    index: nbrSets,
    durationSeconds: null,
    checkedAt: null,
  }
  emit('add-set', newSet)
}
</script>
