<template>
  <div>
    <div class="my-3" header="Add exercise">
      <form @submit="onSubmit">
        <label class="mb-2">Add exercise</label>

        <select v-model="selectedId" class="mb-3">
          <option v-for="option in options" :key="option.value ?? ''" :value="option.value">
            {{ option.text }}
          </option>
        </select>

        <w-button type="submit">Add</w-button>
      </form>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, computed } from 'vue'
import type { Exercise } from '~/models/exercise'
import { useExercisesStore } from '~/store/exercises'

const exercisesStore = useExercisesStore()

interface Option {
  value: string | null
  text: string
}

const selectedId = ref(null)

const defaultOption: Array<Option> = [{ value: null, text: 'Select an exercise' }]

const options = computed(() => {
  const exercises = exercisesStore.exercises
    .filter(function (e: Exercise, _index, _array) {
      return e.id !== null
    })
    .map(function (e: Exercise, _index) {
      return { value: e.id, text: e.name }
    })
    .sort((a, b) => (a.text < b.text ? -1 : 1))

  return defaultOption.concat(exercises)
})

const emit = defineEmits(['add-workout-exercise'])

function onSubmit(event: Event) {
  event.preventDefault()
  if (selectedId.value !== '') {
    emit('add-workout-exercise', selectedId.value)
  }
}
</script>
