<template>
  <div class="mx-9">
    <h1>Create new workout</h1>
    <div class="mt-3" header-tag="nav" header="Track workout">
      <div class="flex bordered-b flex-row my-3 mt-4 text-gray-600">
        <div
          id="create-from-program-tab"
          class="cursor-pointer mr-3 pb-2 bordered-b hover:border-gray-800 hover:text-gray-800 negative-margin"
          :class="{
            'text-base': selectedTab === 'program',
            'border-base': selectedTab === 'program',
          }"
          @click="selectProgramTab()"
        >
          Program
        </div>
        <div
          id="create-new-tab"
          class="cursor-pointer mr-3 pb-2 bordered-b hover:border-gray-800 hover:text-gray-800 negative-margin"
          :class="{
            'text-base': selectedTab === 'new',
            'border-base': selectedTab === 'new',
          }"
          @click="selectNewTab()"
        >
          New
        </div>
        <div
          v-if="options.length > 0"
          id="copy-tab"
          class="cursor-pointer mr-3 pb-2 bordered-b hover:border-gray-800 hover:text-gray-800 negative-margin"
          :class="{
            'text-base': selectedTab === 'copy',
            'border-base': selectedTab === 'copy',
          }"
          @click="selectCopyTab()"
        >
          Copy
        </div>
      </div>

      <form>
        <div>
          <div v-if="selectedTab === 'program'">
            <label>Create a workout from the selected program</label>
          </div>
          <div v-if="selectedTab === 'new'">
            <label>Create a new empty workout</label>
          </div>
          <div v-if="selectedTab === 'copy'">
            <label>Copy a previous workout</label>
          </div>
        </div>
        <div class="my-3">
          <div class="mb-1">
            <label for="datepicker">Date</label>
          </div>
          <div>
            <Datepicker
              id="datepicker"
              v-model="selectedDate"
              :format="dateFormat"
              :preview-format="dateFormat"
              auto-apply
            ></Datepicker>
          </div>
        </div>

        <div v-if="selectedTab === 'program'">
          <div class="my-3">
            <div class="mb-1">
              <label for="select-program">Program</label>
            </div>
            <select id="select-program" v-model="selectedProgram" class="mb-2">
              <option v-for="program in programs" :key="String(program.id)" :value="program.id">
                {{ program.name }}
              </option>
            </select>
          </div>

          <div class="mb-2">
            <div>
              <w-button id="create-from-program-button" type="submit" @click="createFromProgram">Create</w-button>
            </div>
          </div>
        </div>

        <div v-if="selectedTab === 'new'">
          <div class="mb-2">
            <div>
              <w-button id="create-new-workout-button" type="submit" @click="createNewWorkout">Create</w-button>
            </div>
          </div>
        </div>

        <div v-if="selectedTab === 'copy' && options.length > 0">
          <div class="mb-1">
            <label for="datepicker">Copy from:</label>
          </div>
          <div class="flex align-center mb-4">
            <select v-model="selectedWorkoutId">
              <option v-for="option in options" :key="option.value ?? ''" :value="option.value">
                {{ option.text }}
              </option>
            </select>
          </div>
          <div class="flex mb-2 grid grid-cols-12">
            <div class="col-span-4">
              <w-button id="copy-workout-button" type="submit" @click="copyWorkout">Copy</w-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import Datepicker from '@vuepic/vue-datepicker'
import { useWorkoutsStore } from '~/store/workouts'
import { useProgramsStore } from '~/store/programs'
import { formatDate } from '~/utils/date-utils'

const workoutsToFetch: number = 20
const workoutsStore = useWorkoutsStore()
const programsStore = useProgramsStore()
await programsStore.fetchPrograms()
await workoutsStore.fetchWorkouts(workoutsToFetch)

interface Option {
  value: string | null
  text: string
}

const selectedDate = ref(new Date())

const selectedWorkoutId = ref('')

const selectedTab = ref('program')

function selectProgramTab() {
  selectedTab.value = 'program'
}

function selectCopyTab() {
  selectedTab.value = 'copy'
}

function selectNewTab() {
  selectedTab.value = 'new'
}

const options = ref(getOptions())

function getOptions(): Array<Option> {
  const workouts = workoutsStore.workouts
  const options = workouts.map((w) => {
    return { value: w.id, text: w.date, workout: w }
  })
  if (!selectedWorkoutId.value && options[0] !== undefined && options[0].value !== null) {
    selectedWorkoutId.value = options[0].value
  }
  return options
}

const programs = programsStore.programs

const lastUsedProgramId = workoutsStore.workouts[0]?.programId

const selectedProgram = ref(lastUsedProgramId)

async function createNewWorkout(event: Event) {
  event.preventDefault()

  const savedWorkout = await workoutsStore.createNew(formatDate(selectedDate.value))

  if (savedWorkout) {
    navigateTo('/workouts/' + savedWorkout.id)
  }
}

async function createFromProgram(event: Event) {
  event.preventDefault()

  if (selectedProgram.value) {
    const savedWorkout = await workoutsStore.createFromProgram(formatDate(selectedDate.value), selectedProgram.value)

    await programsStore.doFetchPrograms()

    const id = savedWorkout?.id
    if (id) {
      navigateTo('/workouts/' + id)
    }
  }
}

async function copyWorkout(event: Event) {
  event.preventDefault()

  const savedWorkout = await workoutsStore.copy(formatDate(selectedDate.value), selectedWorkoutId.value)

  if (savedWorkout) {
    navigateTo('/workouts/' + savedWorkout.id)
  }
}

function dateFormat(date: Date) {
  return formatDate(date)
}
</script>
<style>
a {
  cursor: pointer;
}
.negative-margin {
  margin-bottom: -0.07em;
}
.bordered {
  border-width: 0.08em;
}
.bordered-b {
  border-bottom-width: 0.08em;
}
</style>
