<template>
  <div class="flex mb-3">
    <client-only>
      <SelectButton :is-active="props.dateRange === 'all'" @click="setDateRange('all')">All Time</SelectButton>
      <SelectButton :is-active="props.dateRange === 'year'" @click="setDateRange('year')">Last Year</SelectButton>
      <SelectButton :is-active="props.dateRange === 'threeMonths'" @click="setDateRange('threeMonths')"
        >Three Months</SelectButton
      >
      <SelectButton :is-active="props.dateRange === 'month'" @click="setDateRange('month')">Last Month</SelectButton>
    </client-only>
  </div>
</template>
<script lang="ts" setup>
type Props = {
  dateRange: string
}

const props = withDefaults(defineProps<Props>(), {
  dateRange: 'all',
})

function setDateRange(range: string) {
  emit('select-date-range', range)
}

const emit = defineEmits(['select-date-range'])
</script>
