<template>
  <div>
    <ErrorAlert my-3 :error="error" />
    <div class="grid justify-center grid-cols-12 mb-4">
      <div class="col-span-0 md:col-span-3"></div>
      <div class="mt-3 border col-span-10 md:col-span-6">
        <div class="mx-0">
          <div class="mx-0 border bg-gray-100">
            <div class="metric-header mx-3 my-2">
              {{ getHeader() }}
            </div>
          </div>

          <form class="m-3" @submit="onSubmit">
            <div class="mb-3">
              <label id="input-group-value" class="mb-2" for="input-value">Value:</label>
              <input
                id="input-value"
                v-model="value"
                class="my-2"
                type="number"
                step=".1"
                placeholder="Enter value"
                required
                :min="minValue"
                :max="maxValue"
                @focus="focus"
              />
              <div v-if="props.metricType?.minValue != null">Min: {{ props.metricType?.minValue }}</div>
              <div v-if="props.metricType?.maxValue != null">Max: {{ props.metricType?.maxValue }}</div>
            </div>

            <div class="mb-3">
              <label for="datepicker">Date</label>
              <Datepicker
                id="datepicker"
                v-model="selectedDate"
                :format="dateFormat"
                :preview-format="dateFormat"
                auto-apply
              ></Datepicker>
            </div>

            <div class="mb-3">
              <label id="input-group-note" class="mb-2" for="input-note">Notes:</label>
              <textarea
                id="input-note"
                v-model="note"
                class="my-2"
                type="textarea"
                placeholder="Comment (optional)"
                @focus="focus"
              />
            </div>

            <w-button id="submit-metric-button" type="submit">Submit</w-button>
          </form>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import Datepicker from '@vuepic/vue-datepicker'
import type { Metric } from '~/models/metric'
import { userService } from '~/services/userService'
import { formatDate } from '~/utils/date-utils'
import type { MetricType } from '~/models/metricType'
import { focusOnInput } from '~/services/selectionUtil'

type Props = {
  metric?: Metric | null
  metricType: MetricType
}

const props = defineProps<Props>()

const emit = defineEmits(['submit-metric'])

const user = userService.fetchUser()

const note = ref(props.metric?.note ? props.metric.note : '')
const value = ref(props.metric ? props.metric.value / 100 : null)

const selectedDate = ref(new Date())

const minValue: number | undefined = props.metricType?.minValue ?? undefined
const maxValue: number | undefined = props.metricType?.maxValue ?? undefined

const error: Ref<Error | undefined> = ref(undefined)

function getHeader() {
  if (props.metric) {
    return props.metric.value
  }
  if (props.metricType) {
    return `${props.metricType.name}`
  } else {
    return ``
  }
}

function focus(event: Event) {
  focusOnInput(event)
}

function onSubmit(event: Event) {
  event.preventDefault()
  if (user) {
    const scaledValue = Math.round(value.value ? value.value * 100 : 0)
    const metric = {
      metricTypeId: props.metricType.id,
      userId: user.id,
      value: scaledValue,
      date: formatDate(selectedDate?.value),
      note: note?.value,
    }
    emit('submit-metric', metric)
  } else {
    error.value = new Error('user is null')
  }
}

function dateFormat(date: Date) {
  return formatDate(date)
}
</script>
