<template>
  <div v-if="props.show" id="edit-date" class="custom-modal" title="Edit date">
    <div class="modal-dialog max-w-3xl rounded border-2 border-gray-300">
      <div class="modal-content">
        <header class="modal-header flex justify-between mb-6">
          <h5 class="my-auto">Edit date</h5>
          <button type="button" aria-label="Close" class="modal-close" @click="onCanceled">×</button>
        </header>
        <div class="modal-body">
          <label for="datepicker">Date</label>

          <Datepicker
            id="datepicker"
            v-model="chosenDate"
            :format="dateFormat"
            :preview-format="dateFormat"
            auto-apply
          ></Datepicker>
        </div>

        <footer class="modal-footer flex mt-6 justify-between">
          <w-button variant="secondary" @click="onCanceled"> Cancel </w-button>
          <w-button @click="onSelected"> OK </w-button>
        </footer>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import Datepicker from '@vuepic/vue-datepicker'
import { ref } from 'vue'
import { formatDate } from '~/utils/date-utils'
import '@vuepic/vue-datepicker/dist/main.css'

type Props = {
  selectedDate: Date
  show: boolean
}

const props = withDefaults(defineProps<Props>(), {
  selectedDate: () => new Date(),
  show: false,
})

const chosenDate = ref(props.selectedDate)

const emit = defineEmits(['selected-date', 'canceled'])

function onSelected() {
  emit('selected-date', chosenDate.value)
}

function onCanceled() {
  emit('canceled')
}

function dateFormat(date: Date) {
  return formatDate(date)
}
</script>
<style>
.custom-modal {
  height: 100%;
  left: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1055;
}

.modal-dialog {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-close {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  font-size: 24px;
}
</style>
