<template>
  <div class="mx-9">
    <div class="mt-3 border">
      <div class="mx-0">
        <div class="mx-0 border bg-gray-100">
          <div class="exercise-header mx-3 my-2">
            {{ getHeader() }}
          </div>
        </div>

        <form class="m-3" @submit="onSubmit">
          <div class="mb-1">
            <label id="input-group-name" class="mb-1" for="input-name">Name:</label>
          </div>
          <input
            id="input-name"
            v-model="name"
            class="mb-2"
            type="text"
            placeholder="Enter name"
            required
            @focus="focus"
          />

          <div class="mb-1">
            <label id="input-group-type" class="mb-1" label="Type:" for="input-type" description="">Type:</label>
          </div>
          <select v-model="selectedType" class="mb-3" required>
            <option v-for="type in exerciseTypes" :key="type.value" :value="type.value">
              {{ type.text }}
            </option>
          </select>

          <w-button id="button-submit" type="submit">Submit</w-button>
        </form>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import { repsAndWeight, reps, duration, distance, type Exercise } from '~/models/exercise'
import { userService } from '~/services/userService'
import { focusOnInput } from '~/services/selectionUtil'

const user = userService.fetchUser()

type Props = {
  exercise?: Exercise
}

const props = defineProps<Props>()

const emit = defineEmits(['edit-exercise'])

const exerciseTypes = [repsAndWeight, reps, duration, distance]
const selectedType = ref(getType())
const name = ref(getName())

function getName() {
  if (props.exercise) {
    return props.exercise.name
  }
  return 'Exercise name'
}

function getType() {
  if (props.exercise) {
    return props.exercise.exerciseType
  }
  return repsAndWeight.value
}

function getHeader() {
  if (props.exercise) {
    return props.exercise.name
  }
  return 'Create new exercise'
}

function onSubmit(event: Event) {
  event.preventDefault()
  if (user) {
    const exercise = {
      name: name.value,
      userId: user.id,
      exerciseType: selectedType.value,
      id: props.exercise ? props.exercise.id : null,
    }
    emit('edit-exercise', exercise)
  }
}

function focus(event: Event) {
  focusOnInput(event)
}
</script>
