<template>
  <div>
    <div class="grid justify-center grid-cols-12 mb-4">
      <div class="col-span-0 md:col-span-3"></div>
      <div class="mt-3 border col-span-10 md:col-span-6">
        <div class="mx-0">
          <div class="mx-0 border bg-gray-100">
            <div class="metricType-header mx-3 my-2">
              {{ getHeader() }}
            </div>
          </div>

          <form class="m-3" @submit="onSubmit">
            <div class="mb-3">
              <label id="input-group-name" class="mb-2" for="input-name">Name:</label>
              <input
                id="input-name"
                v-model="name"
                class="my-2"
                type="text"
                placeholder="Enter name"
                required
                @focus="focus"
              />
            </div>

            <div class="mb-3">
              <label id="input-group-name" class="mb-2" for="input-name">Minimum allowed value:</label>
              <input
                id="input-min-value"
                v-model="minValue"
                class="my-2"
                type="number"
                placeholder="Minimum allowed value (optional)"
                @focus="focus"
              />
            </div>

            <div class="mb-3">
              <label id="input-group-name" class="mb-1" for="input-name">Maximum allowed value:</label>
              <input
                id="input-max-value"
                v-model="maxValue"
                class="my-2"
                type="number"
                placeholder="Maximum allowed value (optional)"
                @focus="focus"
              />
            </div>

            <w-button type="submit">Submit</w-button>
          </form>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import type { MetricType } from '~/models/metricType'
import { userService } from '~/services/userService'
import { focusOnInput } from '~/services/selectionUtil'

type Props = {
  metricType?: MetricType
}

const props = defineProps<Props>()

const emit = defineEmits(['edit-metric-type'])

const user = userService.fetchUser()

const name = ref(getName())
const minValue = ref(props.metricType ? props.metricType.minValue : null)
const maxValue = ref(props.metricType ? props.metricType.maxValue : null)

function getName() {
  if (props.metricType) {
    return props.metricType.name
  }
  return ''
}

function getHeader() {
  if (props.metricType) {
    return props.metricType.name
  }
  return 'Create new metric type'
}

function onSubmit(event: Event) {
  event.preventDefault()
  if (user) {
    const metricType = {
      id: props.metricType ? props.metricType.id : null,
      name: name.value,
      userId: user.id,
      minValue: minValue.value ? minValue.value : null,
      maxValue: maxValue.value ? maxValue.value : null,
    }
    emit('edit-metric-type', metricType)
  }
}

function focus(event: Event) {
  focusOnInput(event)
}
</script>
