<template>
  <div>
    <div v-if="props.error" class="alert py-2 mt-2" variant="danger">
      <div class="mx-4">
        {{ message }}
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { computed } from 'vue'

type Props = {
  error: Error | undefined
}

const props = withDefaults(defineProps<Props>(), {
  error: undefined,
})

const message = computed(() => {
  if (props.error) {
    return props.error.message ? props.error.message : props.error
  } else {
    return ''
  }
})
</script>
<style scoped>
.alert {
  text-align: center;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
  box-sizing: border-box;
}
</style>
