<template>
  <div>
    <select v-model="model" @input="handleSelect">
      <option v-for="option in options" :key="option.value" :value="option.value">
        {{ option.text }}
      </option>
    </select>
  </div>
</template>
<script lang="ts" setup>
type Option = {
  text: string
  value: string
}

type Props = {
  options: Array<Option>
  value: string | undefined
}

const props = withDefaults(defineProps<Props>(), {
  options: () => [],
  value: undefined,
})

const model = ref(props.options[0].value)

const emit = defineEmits(['input'])

function handleSelect(e: Event) {
  if (e.target instanceof HTMLSelectElement) {
    emit('input', e.target.value)
  }
}
</script>
<style>
select {
  display: block;
  -moz-padding-start: calc(0.75rem - 3px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #212529;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  width: 100%;
}
</style>
