<template>
  <div>
    <form class="flex flex-col" @submit.prevent="">
      <div class="flex flex-col mb-2">
        <label id="input-group-name" for="input-username" class="mb-1">Username</label>
        <input id="input-username" type="text" placeholder="" required />
      </div>

      <div class="flex flex-col mb-3">
        <label id="input-group-password" for="input-userpassword" class="mb-1">Password</label>
        <input id="input-password" type="password" placeholder="" required />
      </div>
      <div>
        <w-button type="submit" disabled>Submit</w-button>
      </div>
    </form>
  </div>
</template>
