<template>
  <div class="mb-5">
    <div fluid class="navbar flex flex-col mb-3 leading-8 justify-stretch" @click="linkClicked">
      <div class="hidden md:grid md:grid-cols-12 auto-cols-auto w-full content-center justify-between">
        <div class="col-span-2 navbar-title-lg glow">
          <NuxtLink to="/workouts"> Workout tracker </NuxtLink>
        </div>

        <div class="col-span-8 flex flex-row justify-center">
          <div class="navbar-button flex content-center mx-3">
            <NuxtLink to="/workouts">Workouts</NuxtLink>
          </div>
          <div class="navbar-button mx-3">
            <NuxtLink to="/exercises">Exercises</NuxtLink>
          </div>
          <div class="navbar-button mx-3">
            <NuxtLink to="/programs">Programs</NuxtLink>
          </div>
          <div class="navbar-button mx-3">
            <NuxtLink to="/statistics">Statistics</NuxtLink>
          </div>
          <div class="navbar-button mx-3">
            <NuxtLink to="/metrics">Metrics</NuxtLink>
          </div>
          <div class="navbar-button mx-3">
            <NuxtLink to="/records">Records</NuxtLink>
          </div>
          <div class="navbar-button mx-3">
            <NuxtLink to="#" @click="logout">Sign out</NuxtLink>
          </div>
        </div>
      </div>

      <div class="grid md:hidden w-full">
        <div class="grid grid-cols-12">
          <div class="col-span-5 navbar-title-lg glow">
            <NuxtLink to="/workouts"> Workout tracker </NuxtLink>
          </div>
          <div class="col-span-6"></div>
          <div class="hamburger col-span-1 flex">
            <IconMdiLightMenu class="icon m-auto" @click="toggleMenu" />
          </div>
        </div>

        <div v-if="showMenu" class="dropdown ml-3">
          <div>
            <NuxtLink to="/workouts">Workouts</NuxtLink>
          </div>
          <div>
            <NuxtLink to="/exercises">Exercises</NuxtLink>
          </div>
          <div>
            <NuxtLink to="/programs">Programs</NuxtLink>
          </div>
          <div>
            <NuxtLink to="/statistics">Statistics</NuxtLink>
          </div>
          <div>
            <NuxtLink to="/metrics">Metrics</NuxtLink>
          </div>
          <div>
            <NuxtLink to="/records">Records</NuxtLink>
          </div>
          <div>
            <NuxtLink to="#" @click="logout">Sign out</NuxtLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import { userService } from '~/services/userService'

// TODO logout make it usable on small screens

const showMenu = ref(false)

function toggleMenu() {
  showMenu.value = !showMenu.value
}

function linkClicked(e: MouseEvent) {
  if (e.target instanceof HTMLAnchorElement) {
    showMenu.value = false
  }
}

function logout() {
  userService.logout()
}
</script>
<style scoped>
.navbar {
  background-color: #2e215b; /* TODO use variable */
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  margin-bottom: 8px;
}
.navbar-title-lg a {
  color: #ffffff;
  font-weight: 400;
}
.navbar-title-sm a {
  color: #ffffff;
  font-weight: 400;
}
.navbar-button {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.hamburger {
  color: white;
}

.dropdown {
  color: white;
}

.icon {
  color: white;
}

@media screen and (max-width: 600px) {
  .hamburger {
    cursor: pointer;
    text-align: center;
  }
}
</style>
