<template>
  <div class="grid grid-cols-12">
    <div class="col-span-2 md:col-span-4"></div>
    <div v-if="program" class="col-span-8 md:col-span-4">
      <NuxtLink :to="link">
        <h2>{{ program.name }}</h2>
        <div>Round {{ program.data.currentRound + 1 }}</div>
        <p>
          Next up: Week {{ program.data.currentWeek + 1 }}, Day
          {{ program.data.currentDay + 1 }}
        </p>
      </NuxtLink>
    </div>
  </div>
</template>

<script lang="ts" setup>
import type { Program } from '~/models/program'

type Props = {
  program: Program
}

const props = defineProps<Props>()

const link = ref('/programs/')
if (props.program) {
  link.value = `/programs/${props.program.id}`
}
</script>
<style></style>
