<template>
  <div class="mx-4 md:mx-9">
    <h1 class="mb-3">Records</h1>

    <div v-if="tableItems && tableItems.length > 0" class="md:flex justify-center overflow-x-auto">
      <table id="records-table" class="text-sm mb-3">
        <thead class="">
          <tr>
            <th v-for="field in tableFields" :key="field.label" class="p-1">
              {{ field.label }}
            </th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(exercise, index) in tableItems" :key="index">
            <td v-for="item in exercise" :key="item" class="p-1" :class="{ 'bg-gray-100': index % 2 === 1 }">
              {{ item }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-3 grid justify-center">
      <w-button id="btn-recalculate" type="submit" @click="recalculateRecords"> Force recalculation </w-button>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { reactive } from 'vue'
import type { RepMax, ExerciseRecordData } from '~/models/recordData'
import { useRecordsStore } from '~/store/records'
import { useExercisesStore } from '~/store/exercises'

const recordsStore = useRecordsStore()
const exercisesStore = useExercisesStore()

await recordsStore.fetchRecords()
await exercisesStore.fetchExercises()

const exercises = exercisesStore.exercises

const repNbrs = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

const repFields = repNbrs.map((nbr) => {
  return { key: String(nbr), label: String(nbr), sortable: true }
})
const tableFields = [{ key: '0', label: 'Exercise', sortable: true }, ...repFields]

const tableItems = reactive(getTableItems())

function getTableItems() {
  const records = recordsStore.records
  const recordData = records ? records[0] : undefined

  if (!recordData) {
    return []
  }
  const items = recordData.exerciseRecords.map((exercise: ExerciseRecordData) => {
    const name = exerciseName(exercise.exerciseId)

    const repMaxes = repNbrs.map((repNbr) => {
      const max = exercise.repMaxes.find((rm: RepMax) => rm.nbrReps === repNbr)
      return max && max.weight > 0 ? max.weight : undefined
    })
    return [name, ...repMaxes]
  })

  const filteredItems = items.filter((exerciseRow) => exerciseRow.slice(1).find((nbr) => nbr !== undefined))
  return filteredItems
}

function recalculateRecords(event: Event): void {
  event.preventDefault()
  $fetch('/api/records/recalculate', {
    method: 'POST',
    headers: useRequestHeaders(['cookie']),
  })
}

function exerciseName(id: string): string {
  const found = exercises.find((e) => e.id === id)
  if (found) {
    return found.name
  } else {
    return ''
  }
}
</script>
<style scoped>
h1 {
  width: 100%;
  text-align: center;
}
td,
th {
  border-width: 0.05em;
}
</style>
