<template>
  <div class="cursor-pointer mr-3 pb-2 bordered-b negative-margin" :class="classObject">
    <slot></slot>
  </div>
</template>
<script lang="ts" setup>
import { computed } from 'vue'

type Props = {
  isActive: boolean
}

const props = defineProps<Props>()

const classObject = computed(() => {
  if (props.isActive) {
    return 'text-base border-base'
  } else {
    return 'hover:border-gray-800 hover:text-gray-800'
  }
})
</script>
<style>
a {
  cursor: pointer;
}
.negative-margin {
  margin-bottom: -0.07em;
}
.bordered {
  border-width: 0.08em;
}
.bordered-b {
  border-bottom-width: 0.08em;
}
</style>
