<template>
  <select v-model="localExerciseId" class="mb-3 select-exercise">
    <option v-for="option in exerciseIds" :key="option.value ?? ''" :value="option.value">
      {{ option.text }}
    </option>
  </select>
</template>
<script lang="ts" setup>
import { ref, watch, computed } from 'vue'
import { useExercisesStore } from '~/store/exercises'
import { clone } from '~/utils/clone'
import type { Exercise } from '~/models/exercise'

type Props = {
  modelValue: string
}

const props = defineProps<Props>()

const localExerciseId = ref(clone(props.modelValue))

const exercisesStore = useExercisesStore()

const exerciseIds = computed(() => {
  const exercises = exercisesStore.exercises
    .filter(function (e: Exercise) {
      return e.id !== null
    })
    .map(function (e: Exercise) {
      return { value: e.id, text: e.name }
    })
    .sort((a, b) => (a.text < b.text ? -1 : 1))

  return exercises
})

if (!localExerciseId.value && exerciseIds.value[0].value) {
  localExerciseId.value = exerciseIds.value[0].value
}

const emit = defineEmits(['update:modelValue'])

watch(
  localExerciseId,
  (newExerciseId: string) => {
    emit('update:modelValue', newExerciseId)
  },
  { deep: true },
)
</script>
