<template>
  <div>
    <div class="grid grid-cols-12 gap-2 mt-1 mb-1">
      <div v-if="showWeight" class="col-span-3 grid">
        <input
          v-model="weight"
          class="set-weight input-set-weight"
          type="text"
          placeholder="Weight"
          @input="emitUpdate"
          @focus="focus"
        />
      </div>
      <div v-if="showReps" class="col-span-3 grid">
        <input
          v-model="reps"
          class="set-reps input-set-reps"
          type="text"
          placeholder="Reps"
          @input="emitUpdate"
          @focus="focus"
        />
      </div>

      <div v-if="showDuration" class="col-span-3 grid">
        <input
          v-model="durationSeconds"
          class="input-duration"
          type="text"
          placeholder="Duration"
          @input="emitUpdate"
          @focus="focus"
        />
      </div>
      <div v-if="!showReps" class="col-span-3 grid"></div>

      <div class="col-span-2 grid content-center justify-center">
        <input
          v-model="done"
          name="done"
          type="checkbox"
          class="input-set-done accent-base w-5 h-5 p-2"
          @change="toggleDone"
        />
      </div>

      <div :id="'record' + set.index + set.weight" class="col-span-3 emoji grid content-center">
        {{ recordEmoji }}
        {{ recordText }}
      </div>

      <div class="col-span-1 grid content-center">
        <SetMenu :on-delete="emitDelete" :on-copy="emitCopy" />
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, computed } from 'vue'
import type { ExerciseSet } from '~/models/workout'
import { useRecordsStore } from '~/store/records'
import { focusOnInput } from '~/services/selectionUtil'

const recordsStore = useRecordsStore()

type Props = {
  exerciseId: string
  workoutDate: string
  set: ExerciseSet
  showWeight: boolean
  showReps: boolean
  showDuration: boolean
}

const props = defineProps<Props>()

const reps = ref(0)
const weight = ref(0)
const durationSeconds = ref(0)

let editTimeMs: number | null = null

if (props.set.reps) {
  reps.value = props.set.reps
}
if (props.set.durationSeconds) {
  durationSeconds.value = props.set.durationSeconds
}
if (props.set.weight) {
  weight.value = props.set.weight
}

// TODO refactor
const done = ref(props.set.checkedAt !== undefined)
let checkedAt = props.set.checkedAt

function toggleDone() {
  /* eslint no-console: "off" */
  console.log('toggleDone(), checked: ', done.value, 'index', props.set.index)
  if (done.value) {
    const now = new Date().toISOString()
    checkedAt = now.toString().slice(0, 23) // #TODO change backend to accept the z
  } else {
    checkedAt = undefined
  }
  emitUpdate()
}

const emit = defineEmits(['delete-set', 'update-set', 'copy-set'])

function emitDelete() {
  console.log('emitDelete')
  emit('delete-set', props.set.index)
}

function emitCopy() {
  console.log('emitCopy', props.set.index)
  emit('copy-set', props.set.index)
}

const debounceMs = 500

// It seems like setTimeout sometimes takes less time than debounceMs before executing.
// This is some tolerance to workaround that.
const debounceTolerance = 25

function emitUpdate() {
  editTimeMs = Date.now()
  setTimeout(() => {
    const now = Date.now()
    if (editTimeMs !== null && editTimeMs + debounceMs - debounceTolerance <= now) {
      const set = getUpdatedSet()
      console.log('emitting update-set, set index', set.index, 'now', now)
      emit('update-set', set)
      editTimeMs = null
    } else {
      let diff
      if (editTimeMs) {
        diff = now - (editTimeMs + debounceMs)
      }
      console.log(
        'not emitting due to debounce, editTimeMs: ',
        editTimeMs,
        ' debounceMs: ',
        debounceMs,
        'now: ',
        now,
        'set index',
        props.set.index,
        'diff',
        diff,
      )
    }
  }, debounceMs)
}

function getUpdatedSet(): ExerciseSet {
  return {
    reps: Number(reps.value),
    weight: Number(weight.value),
    index: props.set.index,
    durationSeconds: Number(durationSeconds.value),
    checkedAt: checkedAt,
  }
}

const recordEmoji = computed(() => {
  if (props.set) {
    const set = getUpdatedSet()
    return recordsStore.getSetRecordEmoji(props.exerciseId, props.workoutDate, set)
  } else {
    return ''
  }
})

const recordText = computed(() => {
  if (props.set) {
    const set = getUpdatedSet()
    return recordsStore.getSetRecordText(props.exerciseId, props.workoutDate, set)
  } else {
    return ''
  }
})

function focus(event: Event) {
  focusOnInput(event)
}
</script>
<style scoped>
.emoji {
  text-align: center;
  cursor: default;
}
.handle {
  cursor: pointer;
}
.form-check {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 1.2em;
}
</style>
