<template>
  <div ref="popup-ref" class="relative">
    <IconMdiLightMoreVert class="icon scale-75" @click="toggleShowMenu" />
    <div
      v-show="showMenu"
      v-click-outside="handleClickOutside"
      class="absolute bg-white z-10 right-1 md:right-4 -top-3 text-md shadow-md m-1 rounded cursor-pointer"
    >
      <ul>
        <li class="hover:bg-gray-100 p-2" @click="props.onCopy">Copy</li>
        <li class="hover:bg-gray-100 p-2" @click="props.onDelete">Delete</li>
      </ul>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, useTemplateRef } from 'vue'
type Props = {
  onCopy: () => void
  onDelete: () => void
}

const props = withDefaults(defineProps<Props>(), {
  onCopy: function () {},
  onDelete: function () {},
})

const showMenu = ref(false)

const popupMenuRef = useTemplateRef('popup-ref')

function toggleShowMenu() {
  showMenu.value = !showMenu.value
}

const handleClickOutside = (event: any) => {
  const popupMenu = popupMenuRef.value
  if (popupMenu && !popupMenu.contains(event.target)) {
    showMenu.value = false
  }
}
</script>
