<template>
  <div class="flex justify-center">
    <div v-if="program" class="">
      <div class="grid grid-cols-12">
        <div class="col-span-2"></div>

        <div class="col-span-8">
          <h1>{{ program.name }}</h1>
        </div>

        <div class="col-span-2 grid justify-start content-center mr-2 md:mr-0">
          <NuxtLink :to="editLink">
            <IconMdiLightPencil class="icon-clickable" />
          </NuxtLink>
        </div>
      </div>

      <div class="mx-4 md:mx-9 grid grid-cols-10">
        <div class="hidden md:block md:col-span-3"></div>
        <div class="col-span-10 md:col-span-4">
          <h2>Training maxes</h2>
          <div :header="program?.name + ' - Training maxes'">
            <div>
              <div class="grid grid-cols-3 mb-3">
                <div>Exercise</div>

                <div class="flex justify-center">
                  <div>Training max</div>
                </div>

                <div class="flex justify-center">
                  <div>Increase per round</div>
                </div>
              </div>
              <div v-for="trainingMax in trainingMaxes" :key="trainingMax.exerciseId" href="#">
                <div class="grid grid-cols-3">
                  <div>{{ exerciseName(trainingMax.exerciseId) }}</div>

                  <div class="flex justify-center">
                    <div>
                      {{ trainingMax.weights[trainingMax.weights.length - 1] }}
                    </div>
                  </div>

                  <div class="flex justify-center">
                    {{ trainingMax.defaultIncrement }}
                  </div>
                </div>
              </div>

              <div v-if="program" class="mt-3">
                <div v-for="week in program.data.weeks" :key="week.index" class="mb-3">
                  <h2>Week {{ week.index + 1 }}</h2>
                  <div class="">
                    <div v-for="day in week.days" :key="day.index" class="mb-3">
                      <h3>Day {{ day.index + 1 }}</h3>
                      <div class="flex justify-left">
                        <div v-for="exercise in day.exercises" :key="exercise.exerciseId" class="mr-8">
                          {{ exerciseName(exercise.exerciseId) }}
                          <div v-for="set in exercise.sets" :key="set.index" class="mb-1">
                            <div v-if="set.percentageOfMax !== undefined || set.percentageOfMax !== null">
                              {{ setWeight(exercise, set) }} x {{ set.nbrReps }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, type Ref } from 'vue'
import type { Program, ProgramExercise, ProgramSet, TrainingMax } from '~/models/program'
import { clone } from '~/utils/clone'
import { useExercisesStore } from '~/store/exercises'
import { useProgramsStore } from '@/store/programs'

const program: Ref<Program | undefined> = ref(undefined)

const exercisesStore = useExercisesStore()
const programsStore = useProgramsStore()

const trainingMaxes: Ref<Array<TrainingMax>> = ref([])

await programsStore.fetchPrograms()
await exercisesStore.fetchExercises()

const programOpt = getProgram()

if (programOpt) {
  program.value = programOpt
  trainingMaxes.value = clone(programOpt.data.trainingMaxes)
}

const editLink = ref('')
if (program.value) {
  editLink.value = `/programs/${program.value.id}/edit`
}

function getProgram(): Program | null {
  const id = useRoute().params.id
  const found = programsStore.programs.find((x) => x.id === id)
  if (found !== undefined) {
    return found
  } else {
    return null
  }
}

function exerciseName(exerciseId: string) {
  const exercise = exercisesStore.findById(exerciseId)
  return exercise?.name !== undefined ? exercise.name : ''
}

function setWeight(exercise: ProgramExercise, set: ProgramSet) {
  if (set.percentageOfMax === null || set.percentageOfMax === undefined) {
    return set.fixedWeight
  }
  const trainingMax = getTrainingMaxByExerciseId(exercise.exerciseId)
  const weight = (set.percentageOfMax / 100) * trainingMax
  return Math.ceil(weight / 2.5) * 2.5
}

function getTrainingMaxByExerciseId(exerciseId: string) {
  if (!program.value) {
    return 0
  }
  const maxes = program.value.data.trainingMaxes
  const max = maxes.find((m) => m.exerciseId === exerciseId)
  return max ? max.weights[max.weights.length - 1] : 0
}
</script>
