<template>
  <div>
    <div id="input-group-1" class="flex flex-col mb-3" label="" label-for="input-1" description="">
      <label class="mb-1" for="selectExerciseId">Exercise:</label>
      <select id="selectExerciseId" v-model="selectedExerciseId" class="mb-2" @change="updateGraphSafe">
        <option v-for="exercise in exercises" :key="exercise.value" :value="exercise.value">
          {{ exercise.text }}
        </option>
      </select>

      <label class="mb-1" for="selectstatisticsType">Type:</label>
      <select id="selectstatisticsType" v-model="statisticsType" class="mb-2" @change="updateGraphSafe">
        <option v-for="type in statisticsTypes" :key="type.value" :value="type.value">
          {{ type.text }}
        </option>
      </select>
    </div>

    <client-only>
      <DateRangePicker :date-range="dateRange" @select-date-range="setDateRange" />
    </client-only>

    <div class="chart-container" style="position: relative; height: 50vh; width: 100%">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</template>
<script lang="ts" setup>
import type { Ref } from '@nuxtjs/composition-api'
import {
  Chart,
  LineElement,
  LineController,
  PointElement,
  Tooltip,
  LinearScale,
  CategoryScale,
  type ChartConfiguration,
  type DefaultDataPoint,
} from 'chart.js'
import { ref } from 'vue'
import type { Exercise } from '~/models/exercise'
import type { Workout } from '~/models/workout'
import {
  statisticsService,
  maxWeight,
  maxSetVolume,
  maxReps,
  maxDuration,
  totalReps,
  totalVolume,
  totalDuration,
} from '~/services/statisticsService'
import { useExercisesStore } from '~/store/exercises'
import { useWorkoutsStore } from '~/store/workouts'

Chart.register([LineElement, PointElement, LinearScale, LineController, CategoryScale, Tooltip])

const maxWorkouts = 1000

const exercisesStore = useExercisesStore()
const workoutsStore = useWorkoutsStore()
await exercisesStore.fetchExercises()
await workoutsStore.fetchWorkouts(maxWorkouts)

interface Option {
  value: string | undefined
  text: string
}

interface TooltipItem {
  dataIndex: number
}

const exercises = getExercises()

function getExercises(): Array<Option> {
  return exercisesStore.exercises
    .filter(function (e: Exercise, _index, _array) {
      return e.id !== null
    })
    .map(function (e: Exercise, _index) {
      return { value: e.id ?? undefined, text: e.name }
    })
    .sort((a, b) => (a.text < b.text ? -1 : 1))
}

const statisticsTypes = getStatisticsTypes()

function getStatisticsTypes(): Array<Option> {
  return [
    { value: maxWeight, text: 'Max weight' },
    { value: maxSetVolume, text: 'Max set volume' },
    { value: maxReps, text: 'Max reps' },
    { value: maxDuration, text: 'Max duration' },
    { value: totalVolume, text: 'Total volume' },
    { value: totalReps, text: 'Total reps' },
    { value: totalDuration, text: 'Total duration' },
  ]
}

const selectedExerciseId = exercises.length > 0 ? ref(exercises[0].value) : ref(null)
const statisticsType: Ref<string | null> = ref(statisticsTypes[0].value ?? null)
const dateRange: Ref<string> = ref('all')

let chart: Chart | null = null

if (process.client) {
  const savedSelectedExerciseId = localStorage.getItem('statisticsSelectedExerciseId')
  if (savedSelectedExerciseId) {
    selectedExerciseId.value = savedSelectedExerciseId
  }
  const savedStatisticsType = localStorage.getItem('statisticsType')
  if (savedStatisticsType) {
    statisticsType.value = savedStatisticsType
  }
  const savedDateRange = localStorage.getItem('statisticsDateRange')
  if (savedDateRange) {
    dateRange.value = savedDateRange
  }

  // Ugly hack to work around chart / canvas element being null
  setTimeout(function () {
    updateGraphSafe()
  }, 50)
}

function setDateRange(range: string) {
  dateRange.value = range
  updateGraphSafe()
}

function filterWorkoutsByDateRange(workouts: Workout[], range: string) {
  const now = new Date()
  let filteredWorkouts = workouts
  if (range === 'year') {
    const lastYear = new Date(now.setFullYear(now.getFullYear() - 1))
    filteredWorkouts = workouts.filter((workout) => new Date(workout.date) >= lastYear)
  } else if (range === 'threeMonths') {
    const threeMonthsAgo = new Date(now.setMonth(now.getMonth() - 3))
    filteredWorkouts = workouts.filter((workout) => new Date(workout.date) >= threeMonthsAgo)
  } else if (range === 'month') {
    const lastMonth = new Date(now.setMonth(now.getMonth() - 1))
    filteredWorkouts = workouts.filter((workout) => new Date(workout.date) >= lastMonth)
  }
  return filteredWorkouts
}

function updateGraphSafe() {
  const id = selectedExerciseId.value
  const statType = statisticsType.value
  if (id && statType) {
    updateGraph(id, statType)
  }
}

function updateGraph(selectedId: string, selectedType: string) {
  if (selectedId === null) {
    return
  }
  const workouts = filterWorkoutsByDateRange(workoutsStore.workouts, dateRange.value)

  let dataPoints: Array<number> = []
  let dates: Array<string> = []
  let dataPointLabels: Array<string> = []

  if ([maxWeight, maxReps, maxSetVolume, maxDuration].includes(selectedType)) {
    ;[dataPoints, dataPointLabels, dates] = statisticsService.getMaxes(workouts, selectedType, selectedId || '')
  } else if ([totalVolume, totalReps, totalDuration].includes(selectedType)) {
    ;[dataPoints, dates] = statisticsService.getTotal(workouts, selectedType, selectedId || '')
  }

  dates.reverse()
  dataPoints.reverse()
  dataPointLabels.reverse()
  const labels = dates

  const label = statisticsTypes.find((l) => l.value === selectedType)

  const data = {
    labels: labels,
    datasets: [
      {
        label: label ? label.text : '',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: dataPoints,
      },
    ],
  }

  const tooltipFooter = (tooltipItems: TooltipItem[]) => {
    if (selectedType === maxSetVolume) {
      return dataPointLabels[tooltipItems[0].dataIndex]
    }
    return ''
  }

  const config: ChartConfiguration<'line', DefaultDataPoint<'line'>, string> = {
    type: 'line',
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: true,
          grace: '10%',
        },
      },
      plugins: {
        tooltip: {
          callbacks: {
            footer: tooltipFooter,
          },
        },
      },
      maintainAspectRatio: false,
    },
  }
  if (chart !== null) {
    chart.destroy()
  }
  const chartItem = document.getElementById('myChart')
  if (chartItem instanceof HTMLCanvasElement) {
    chart = new Chart(chartItem, config)
  }

  if (selectedExerciseId.value) {
    localStorage.setItem('statisticsSelectedExerciseId', selectedExerciseId.value)
  }
  if (statisticsType.value) {
    localStorage.setItem('statisticsType', statisticsType.value)
  }
  localStorage.setItem('statisticsDateRange', dateRange.value)
}
</script>
<style></style>
