<template>
  <div>
    <div v-for="week in props.weeks" :key="week.index" class="mb-3">
      <h5>Week {{ week.index + 1 }}</h5>
      <div class="">
        <div v-for="day in week.days" :key="day.index" class="mb-3">
          <h6>Day {{ day.index + 1 }}</h6>
          <div class="grid grid-cols-2 md:grid-cols-4 justify-between">
            <div v-for="exercise in day.exercises" :key="exercise.exerciseId">
              {{ exerciseName(exercise.exerciseId) }}
              <div v-for="set in exercise.sets" :key="set.index">
                <div v-if="set.percentageOfMax && set.index < 4">
                  {{ set.nbrReps }} x {{ setWeight(exercise, set) }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import type { ProgramWeek, TrainingMax, ProgramSet, ProgramExercise } from '~/models/program'
import { useExercisesStore } from '~/store/exercises'

const exercisesStore = useExercisesStore()

type Props = {
  trainingMaxes: Array<TrainingMax>
  weeks: Array<ProgramWeek>
}

const props = defineProps<Props>()

function exerciseName(id: string) {
  return exercisesStore.findById(id)!.name
}

function setWeight(exercise: ProgramExercise, set: ProgramSet) {
  if (!set.percentageOfMax) {
    return set.fixedWeight
  }
  const trainingMax = getTrainingMaxByExerciseId(exercise.exerciseId)
  const weight = (set.percentageOfMax / 100) * trainingMax
  return Math.ceil(weight / 2.5) * 2.5
}

function getTrainingMaxByExerciseId(exerciseId: string) {
  const maxes = props.trainingMaxes
  const max = maxes.find((m) => m.exerciseId === exerciseId)
  return max ? max.weights[max.weights.length - 1] : 0
}
</script>
