<template>
  <button
    :id="id"
    :type="type"
    :disabled="disabled"
    class="bg-base hover:bg-base-1 text-white rounded"
    :class="{
      'bg-base': isPrimary,
      'hover:bg-base-1': isPrimary,
      'bg-red-600': isDanger,
      'hover:bg-red-700': isDanger,
      'bg-white': isSecondary,
      'hover:bg-gray-200': isSecondary,
      'text-black': isSecondary,
      'border-2': isSecondary,
      'border-gray-300': isSecondary,
      'py-2': props.size === 'md',
      'px-3': props.size === 'md',
      'py-1': props.size === 'sm',
      'px-2': props.size === 'sm',
    }"
  >
    <slot></slot>
  </button>
</template>
<script lang="ts" setup>
type Props = {
  id?: string | undefined
  type?: 'button' | 'submit' | 'reset' | undefined
  disabled?: boolean
  variant?: 'primary' | 'secondary' | 'danger'
  size?: 'md' | 'sm'
}

const props = withDefaults(defineProps<Props>(), {
  id: undefined,
  type: 'button',
  disabled: false,
  variant: 'primary',
  size: 'md',
})

const isPrimary = props.variant === 'primary'
const isSecondary = props.variant === 'secondary'
const isDanger = props.variant === 'danger'
</script>
