<template>
  <NuxtLink :id="id" :to="to" class="bg-base hover:bg-base-1 text-white py-2 px-3 rounded no-underline">
    <slot></slot>
  </NuxtLink>
</template>
<script lang="ts" setup>
type Props = {
  id?: string
  to: string
}

defineProps<Props>()
</script>
