<template>
  <div class="pl-0 pr-0 ml-0 mr-0">
    <div v-if="exercise && workoutExercise && workout" deck class="mt-4">
      <div class="border-2 rounded">
        <div class="flex justify-between m-3 border-b-2 pb-2">
          <div>
            <h6 class="mb-0">{{ exercise.name }}</h6>
          </div>
          <div class="checkbox-col">
            <input v-model="editMode" :checked="editMode" name="edit-mode-button" type="checkbox" />
            <div class="ml-2">🗑️</div>
          </div>
        </div>

        <div class="m-3">
          <form>
            <div class="grid grid-flow-row-dense grid-cols-12 gap-2">
              <div v-if="showWeight" class="col-span-3 grid" cols="4">Weight</div>
              <div v-if="showReps" class="col-span-3 grid" cols="2">Reps</div>
              <div v-if="showDuration" class="col-span-3 grid">Seconds</div>
              <div v-if="!showReps" class="col-span-3 grid" cols="2"></div>
              <div class="col-span-2 grid justify-center">Done</div>
              <div id="header-filler"></div>
            </div>
          </form>

          <VueDraggableNext v-model="sets" handle=".handle" class="" @end="endDrag">
            <div
              v-for="set in sets"
              :id="workoutExercise.index + '-' + set.index"
              :key="set.index + '-' + nbrSaves"
              :data-id="workoutExercise.index + '-' + set.index"
              :data-exercise-index="workoutExercise.index"
              :data-set-index="set.index"
              class="draggable border-b-2 pt-2 pb-2"
            >
              <Set
                :set="set"
                :exercise-id="workoutExercise.exerciseId"
                :workout-date="workout.date"
                :show-weight="showWeight"
                :show-reps="showReps"
                :show-duration="showDuration"
                @delete-set="deleteSet"
                @copy-set="copySet"
                @update-set="updateSet"
              />
            </div>
          </VueDraggableNext>
          <div class="flex justify-between mt-3">
            <div>
              <AddSet :workout="workout" :workout-exercise="workoutExercise" @add-set="addSet" />
            </div>
            <div>
              <w-button
                v-if="editMode"
                class="button-delete-workout-exercise"
                type="submit"
                variant="danger"
                @click="emitDelete"
                >Delete
              </w-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { VueDraggableNext } from 'vue-draggable-next'
import { ref } from 'vue'
import type { ExerciseSet, Workout, WorkoutExercise } from '~/models/workout'
import { repsAndWeight, reps, duration } from '~/models/exercise'
import { useExercisesStore } from '~/store/exercises'

const exercisesStore = useExercisesStore()

type Props = {
  workout: Workout
  workoutExercise: WorkoutExercise
}

const props = defineProps<Props>()

const sets = ref(props.workoutExercise.sets)

const editMode = ref(false)

let nbrSaves: number = 0

const exercise = exercisesStore.findById(props.workoutExercise.exerciseId)

const exerciseType = exercise?.exerciseType

const showWeight = exerciseType === repsAndWeight.value

const showReps = exerciseType === repsAndWeight.value || exerciseType === reps.value

const showDuration = exerciseType === duration.value

const emit = defineEmits([
  'update-workout-set',
  'add-set',
  'copy-set',
  'delete-set',
  'sets-reordered',
  'delete-workout-exercise',
])

function updateSet(set: ExerciseSet) {
  emit('update-workout-set', props.workoutExercise.index, set)
}

function deleteSet(index: number) {
  emit('delete-set', props.workoutExercise.index, index)
  nbrSaves += 1
}

function copySet(index: number) {
  emit('copy-set', props.workoutExercise.index, index)
}

function addSet(set: ExerciseSet) {
  emit('add-set', props.workoutExercise.index, set)
}

function emitDelete() {
  emit('delete-workout-exercise', props.workoutExercise)
}

function endDrag() {
  emit('sets-reordered', props.workoutExercise.index, sets.value)
}
</script>
<style>
.container {
  padding-left: 0;
  padding-right: 0;
}

.checkbox-col {
  justify-content: flex-end;
  display: flex;
}
</style>
