<template>
  <div class="grid grid-cols-12">
    <div class="col-span-1 md:col-span-4"></div>
    <div class="mx-4 md:mx-0 col-span-10 md:col-span-4 flex card" @click="goToWorkout">
      <div
        :title="humanDay(workout.date) + ', ' + humanDate(workout.date)"
        class="mb-2"
        no-body
        border-variant="light"
        footer-tag="footer"
      >
        <div class="p-3">
          <NuxtLink :to="link">
            <h4 class="mb-2">
              {{ humanDay(workout.date) + ', ' + humanDate(workout.date) }}
            </h4>
          </NuxtLink>
          <div>
            <div>
              <div class="pl-0 pb-0">
                <div v-for="exercise in workoutExercises" :key="exercise.exerciseId + exercise.index">
                  <div>
                    {{ exerciseName(exercise.exerciseId) }}
                    {{ recordText(exercise) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md:col-span-4"></div>
  </div>
</template>
<script lang="ts" setup>
import { ref } from 'vue'
import type { Workout, WorkoutExercise } from '~/models/workout'
import { useRecordsStore } from '~/store/records'
import { useExercisesStore } from '~/store/exercises'

type Props = {
  workout: Workout
}
const props = defineProps<Props>()

const recordsStore = useRecordsStore()
const exercisesStore = useExercisesStore()

const exercises = exercisesStore.exercises

const link = ref('/workouts/' + props.workout.id)

const workoutExercises = props.workout.data.exercises

function goToWorkout() {
  navigateTo(link.value)
}

function exerciseName(id: string): string {
  const found = exercises.find((e) => e.id === id)
  if (found) {
    return found.name
  } else {
    return ''
  }
}

function humanDate(dateStr: string): string {
  const date = new Date(dateStr)
  const month = date.toLocaleDateString('en-US', { month: 'long' })
  const day = date.toLocaleDateString('en-US', { day: 'numeric' })

  return month + ' ' + day
}

function humanDay(dateStr: string): string {
  const date = new Date(dateStr)
  return date.toLocaleDateString('en-US', { weekday: 'long' })
}

function recordText(exercise: WorkoutExercise): string {
  if (exercise) {
    return recordsStore.getExerciseRecordText(exercise, props.workout.date)
  } else {
    return ''
  }
}
</script>
<style lang="scss" scoped>
/* TODO why can't I use $body-color here!? */
a {
  color: #212529;
  text-decoration: none;
}
.card {
  cursor: pointer;
}
.card:hover {
  background-color: #f8f9fa;
}
.list-group-item {
  background-color: inherit;
}
</style>
