<template>
  <div class="mx-1 md:mx-9">
    <div class="mb-3">
      <h1 class="main-h1">Statistics</h1>
    </div>

    <StatisticsView />
  </div>
</template>
<script lang="ts" setup></script>
<style>
main-h1 {
  width: 100%;
  text-align: center;
}
</style>
