<template>
  <div v-if="exercise">
    <EditExercise :exercise="exercise" @edit-exercise="saveExercise" />
  </div>
</template>
<script lang="ts" setup>
import type { Exercise } from '~/models/exercise'
import { useExercisesStore } from '~/store/exercises'

const exercisesStore = useExercisesStore()
exercisesStore.fetchExercises()

const route = useRoute()
const id = route?.params?.id

const exercise = computed(() => exercisesStore.exercises.find((e: Exercise) => e.id === id))

async function saveExercise(exercise: Exercise) {
  await exercisesStore.save(exercise)
  navigateTo('/exercises')
}
</script>
<style scoped>
h1 {
  width: 100%;
  text-align: center;
}
</style>
