<template>
  <EditExercise @edit-exercise="saveExercise" />
</template>
<script lang="ts" setup>
import type { Exercise } from '~/models/exercise'
import { useExercisesStore } from '~/store/exercises'

const exercisesStore = useExercisesStore()
const router = useRouter()

async function saveExercise(exercise: Exercise) {
  await exercisesStore.save(exercise)
  router.push({ path: '/exercises' })
}
</script>
<style scoped>
h1 {
  width: 100%;
  text-align: center;
}
</style>
