<template>
  <div>
    <div class="grid grid-cols-3 md:grid-cols-12 justify-evenly my-4">
      <div class="col-span-1 md:col-span-4"></div>
      <div class="col-span-1 md:col-span-4">
        <h1 class="mb-0">Exercises</h1>
      </div>

      <div id="link-create-exercise" class="col-span-1 md:col-span-2 grid justify-center content-center">
        <NuxtLink to="/exercises/create" size="lg">
          <IconMdiLightPlusCircle class="icon" />
        </NuxtLink>
      </div>
    </div>

    <div v-for="exercise in exercises" :key="exercise.id ?? ''">
      <div class="grid grid-cols-3">
        <div></div>
        <div v-if="exercise.id" class="px-3 my-1 col-span-1">
          <NuxtLink :to="exerciseLink(exercise)">
            {{ exerciseName(exercise.id) }}
          </NuxtLink>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import type { Exercise } from '~/models/exercise'
import { useExercisesStore } from '~/store/exercises'

const exercisesStore = useExercisesStore()
await exercisesStore.fetchExercises()

const exercises = computed(() => {
  if (exercisesStore.list) {
    return exercisesStore.exercises.sort((a, b) => (a.name < b.name ? -1 : 1))
  } else {
    return []
  }
})

function exerciseName(id: string) {
  return exercisesStore.findById(id)?.name || ''
}

function exerciseLink(exercise: Exercise) {
  return '/exercises/' + exercise.id
}
</script>
<style scoped>
h1 {
  width: 100%;
  text-align: center;
}
</style>
