<template>
  <div class="flex justify-center">
    <div v-if="workout" class="sm:mx-9 md:mx-28 lg:mx-44 max-w-xl">
      <header>
        <div class="grid grid-cols-12">
          <div class="col-span-2"></div>

          <div class="col-span-8">
            <h1 class="mb-0">{{ workout.date }}</h1>
          </div>

          <div class="col-span-2 grid justify-end content-center mr-2 md:mr-0">
            <IconMdiLightPencil class="icon-clickable" @click="showModal = true" />
          </div>
        </div>
      </header>

      <EditDateModal
        :show="showModal"
        :selected-date="selectedDate"
        @selected-date="saveDate"
        @canceled="showModal = false"
      />

      <ErrorAlert :error="error" />

      <div v-for="exercise in workout.data.exercises" :key="exercise.index">
        <WorkoutExerciseCard
          :key="exercise.index + '-' + nbrSaves"
          :workout-exercise="exercise"
          :workout="workout"
          @delete-workout-exercise="deleteExercise"
          @update-workout-set="updateWorkoutSet"
          @delete-set="deleteSet"
          @add-set="addSet"
          @copy-set="copySet"
          @sets-reordered="onSetsReordered"
        />
      </div>
      <div class="mx-3">
        <AddWorkoutExercise :workout="workout" @add-workout-exercise="addWorkoutExercise" />
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { ref, computed } from 'vue'
import type { ExerciseSet, Workout, WorkoutExercise } from '~/models/workout'
import { clone } from '~/utils/clone'
import { useRecordsStore } from '~/store/records'
import { useExercisesStore } from '~/store/exercises'
import { useWorkoutsStore } from '~/store/workouts'
import { formatDate } from '~/utils/date-utils'

const nbrSaves = ref(0)
const showModal = ref(false)

const error = ref(undefined)

const recordsStore = useRecordsStore()
const exercisesStore = useExercisesStore()
const workoutsStore = useWorkoutsStore()

const selectedDate = ref(new Date())

const route = useRoute()

const id = route?.params?.id

await exercisesStore.fetchExercises()
await recordsStore.fetchRecords()

if (id) {
  await workoutsStore.fetchById(id.toString())
}

const workout = computed(() => workoutsStore.workouts.find((w) => w.id === id))

if (workout.value && workout.value) {
  selectedDate.value = new Date(workout.value.date)
}

async function deleteExercise(exercise: WorkoutExercise) {
  const workoutOpt: Workout | undefined = workout.value
  if (workoutOpt && workoutOpt.id) {
    const command = {
      commandType: 'delete-exercise',
      workoutId: workoutOpt.id,
      exercise: exercise,
    }
    const processed = await workoutsStore.processCommand(command)
    if (processed) {
      nbrSaves.value += 1
    }
  }
}

async function saveDate(newDate: Date) {
  selectedDate.value = newDate
  const workoutOpt = workout.value
  if (workoutOpt) {
    const formattedDate = formatDate(newDate)
    if (formattedDate !== workoutOpt.date) {
      const workoutCopy = clone(workoutOpt)
      workoutCopy.date = formattedDate
      await workoutsStore.save(workoutCopy)
    }
  }
  showModal.value = false
}

async function updateWorkoutSet(exerciseIndex: number, set: ExerciseSet) {
  try {
    const workoutOpt = workout.value
    if (workoutOpt && workoutOpt.id) {
      const command = {
        commandType: 'update-set',
        workoutId: workoutOpt.id,
        exerciseIndex: exerciseIndex,
        exerciseSet: set,
      }
      const didProcess = await workoutsStore.processCommand(command)
      if (didProcess) {
        recordsStore.fetchRecords()
      }
    }
  } catch (e: any) {
    error.value = e
    window.scrollTo(0, 0)
  }
}

async function onSetsReordered(exerciseIndex: number, sets: ExerciseSet[]) {
  try {
    const workoutOpt = workout.value
    if (workoutOpt && workoutOpt.id) {
      const command = {
        commandType: 'reorder-sets',
        exerciseIndex: exerciseIndex,
        workoutId: workoutOpt.id,
        indices: sets.map((s) => s.index),
      }
      const didProcess = await workoutsStore.processCommand(command)
      if (didProcess) {
        recordsStore.fetchRecords()
      }
    }
    nbrSaves.value += 1
  } catch (e: any) {
    error.value = e
    window.scrollTo(0, 0)
  }
}

async function addSet(exerciseIndex: number, set: ExerciseSet) {
  if (workout.value) {
    const workoutCopy = clone(workout.value)
    workoutCopy.data.exercises[exerciseIndex].sets.push(set)
    await workoutsStore.save(workoutCopy)
    recordsStore.fetchRecords()
    nbrSaves.value += 1
  }
}

async function copySet(exerciseIndex: number, setIndex: number) {
  if (workout.value && workout.value.id) {
    const command = {
      commandType: 'copy-set',
      workoutId: workout.value.id,
      exerciseIndex: exerciseIndex,
      setIndex: setIndex,
    }
    await workoutsStore.processCommand(command)
    recordsStore.fetchRecords()
    nbrSaves.value += 1
  }
}

async function deleteSet(exerciseIndex: number, setIndex: number) {
  const workoutOpt = workout.value
  if (workoutOpt && workoutOpt.id) {
    const command = {
      commandType: 'delete-set',
      workoutId: workoutOpt.id,
      exerciseIndex: exerciseIndex,
      setIndex: setIndex,
    }

    const didProcess = await workoutsStore.processCommand(command)
    if (didProcess) {
      await recordsStore.fetchRecords()
    }
  }
  nbrSaves.value += 1
}

async function addWorkoutExercise(exerciseId: string) {
  const workoutOpt = workout.value
  if (workoutOpt && workoutOpt.id) {
    const command = {
      commandType: 'add-exercise',
      workoutId: workoutOpt.id,
      exerciseId: exerciseId,
    }
    const didProcess = await workoutsStore.processCommand(command)
    if (didProcess) {
      await recordsStore.fetchRecords()
      nbrSaves.value += 1
    }
  }
}
</script>
<style></style>
