<template>
  <div>
    <div class="grid grid-cols-3 md:grid-cols-12 justify-evenly my-4">
      <div class="col-span-1 md:col-span-4"></div>
      <div class="col-span-1 md:col-span-4">
        <h1 class="mb-0">Workouts</h1>
      </div>

      <div id="link-create-workout" class="col-span-1 md:col-span-2 grid justify-center content-center">
        <NuxtLink to="/workouts/create" size="lg">
          <IconMdiLightPlusCircle class="icon" />
        </NuxtLink>
      </div>
    </div>

    <WorkoutCard
      v-for="workout in workouts"
      :key="workout.id ?? ''"
      :workout="workout"
      @delete-workout="deleteWorkout"
      @copy-workout="copyWorkout"
    />
  </div>
</template>
<script lang="ts" setup>
import type { Workout } from '~/models/workout'
import { useRecordsStore } from '~/store/records'
import { useExercisesStore } from '~/store/exercises'
import { useWorkoutsStore } from '~/store/workouts'

const pageSize: number = 10
let pageNbr: number = 0

if (process.client) {
  window.addEventListener('scroll', onScroll)
}

const recordsStore = useRecordsStore()
const exercisesStore = useExercisesStore()
const workoutsStore = useWorkoutsStore()

await recordsStore.fetchRecords()
await exercisesStore.fetchExercises()
await workoutsStore.fetchWorkouts(pageSize)

const workouts = ref(workoutsStore.workouts)

let canFetchMoreWorkouts = true

async function onScroll() {
  const route = useRoute()
  const path = route.path
  if (path.endsWith('workouts')) {
    const bottomOfWindow =
      Math.max(window.scrollY, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight >=
      document.documentElement.offsetHeight * 0.9

    if (bottomOfWindow && canFetchMoreWorkouts) {
      pageNbr++
      canFetchMoreWorkouts = false
      const foundWorkouts = await workoutsStore.fetch(pageNbr * pageSize, pageSize)
      if (foundWorkouts.length > 0) {
        workouts.value = workoutsStore.workouts
        canFetchMoreWorkouts = true
      }
    }
  } else {
    window.removeEventListener('scroll', onScroll)
  }
}

function deleteWorkout(workout: Workout) {
  workoutsStore.delete(workout)
}

function copyWorkout(workout: Workout) {
  if (workout.id !== null) {
    workoutsStore.copy(workout.id, workout.date)
  }
}
</script>
<style scoped>
#createCard {
  border: none;
}
#create-text {
  color: black;
  cursor: pointer;
}
</style>
