<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
  >
    <path fill="currentColor" d="M3 8V7h17v1H3Zm17 4v1H3v-1h17ZM3 17h17v1H3v-1Z"></path>
  </svg>
</template>
