<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="1em"
    height="1em"
    viewBox="0 0 24 24"
  >
    <path
      fill="currentColor"
      d="m19.706 8.042l-2.332 2.332l-3.75-3.75l2.332-2.332a.999.999 0 0 1 1.414 0l2.336 2.336a.999.999 0 0 1 0 1.414ZM2.999 17.248L13.064 7.184l3.75 3.75L6.749 20.998H3v-3.75ZM16.621 5.044l-1.54 1.539l2.337 2.335l1.538-1.539l-2.335-2.335Zm-1.264 5.935l-2.335-2.336L4 17.664V20h2.336l9.021-9.021Z"
    ></path>
  </svg>
</template>
